.heading{
    text-align: center;
    color:rgb(0, 0, 255);
}
.color-class-1{
    font-weight: initial;
    color: rgb(239, 28, 70);
    background-color: rgb(255, 255, 255);
}

.color-class-2 {
  font-weight: bolder;
  color: rgb(244, 244, 55);
  background-color: rgb(0, 255, 255);
}

.color-class-3{
    font-weight: lighter;
    color: rgb(128, 128, 128);
    background-color:rgb(255, 106, 0);
}

.color-class-4{
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color:rgb(0, 255, 255);
}
