<h2 class="heading">Tour of Heroes</h2>
<br>
<div *ngIf="updatedStats">
  <h4>Hero updated with Stats: {{updatedStats}}</h4>
</div>
<br>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Power</td>
      <td>Stats</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heroes" [ngClass]="getRandomColour()">
      <td>{{hero.name}}</td>
      <td>{{hero.power}}</td>
      <td>{{hero.stats}}</td>
      <td>
        <button type="button" (click)="postHero(hero.name)">Evolve</button>
      </td>
    </tr>
  </tbody>
</table>
