.heading{
    text-align: center;
    color:rgb(0, 0, 255);
}
.color-class-1{
    font-weight: initial;
    color: rgb(244, 244, 55);
    background-color: rgb(255, 255, 255);
}

.color-class-2{
    font-weight: bolder;
    color: rgb(249, 13, 13);
    background-color: rgb(104, 101, 101);
}

.color-class-3{
    font-weight: lighter;
    color: rgb(46, 210, 46);
    background-color:rgb(35, 216, 216);
}

.color-class-4{
    font-weight: 600;
    color: rgb(239, 28, 70);
    background-color:rgb(145, 255, 0);
}
