/* You can add global styles to this file, and also import other style files */
$testBlue: blue;


table,
th,
td {
    border: 1px solid;
    padding: auto;
}

table{
    width: 100%;
}

.textCenter{
    text-align: center;
}

.heading{
    color: $testBlue;
}

.classRandom{
    &-1 {
        color: lightgreen;
        background-color: darkblue;
    }

    &-2 {
        color: yellow;
        background-color: purple;
    }

    &-3 {
        color: blue;
        background-color: orange;
    }

    &-4 {
        color: Black;
        background-color: white;
    }
}

